
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color :#140a02 ;
  --bg-color-second : #907b04;
  --movie-card :#2c1002;
  --text-color : gold;
}

body {
  font-family:sans-serif;
  background: var(--bg-color);
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0px 20px;
}

.brandName {
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-color);
  text-align: center;
  margin: 15px;
}

.searchBar {
  margin: 30px;
}

.searchBar > div {
  width: 600px;
  padding: 10px;
  text-align: center;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-color-second);
  border-radius: 10px;
}
.searchBar input {
  border: none;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  background: var(--movie-card);
  color: var(--text-color);
}
.searchBar button {
  border: none;
  border-radius: 10px;
  background: var(--movie-card);
  color: var(--text-color);
}

.container {
  display: flex;
  justify-content:center;
  align-items: center;
  border: 1px solid green;
  flex-wrap: wrap;
}

.movie {
  width: 300px;
  background: #000;
  margin: 10px;
}
.movie > div {
  width: 100%;
  color: var(--text-color);
}
.movie > div:nth-child(1) {
  background:var(--movie-card);
}
.movie > div:nth-child(3) {
  background: var(--movie-card);
}

@media (width < 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .movie {
    width: 100%;
  }
}
/* 
@media  screen and (min-width : 1100px) {
  .container {
    display: flex;
    justify-content:space-around;
    border: 1px solid green;
  }

  .movie {
    width: 50%;
    background: #000;
    margin: 10px;
  }
  
} */